<!DOCTYPE html>
<html lang="en" ng-app="marvelize">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Marvelize</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="css/ionicons.min.css"/>
	<link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-class="{'cover': coverActive}">
	
	<ul class="menu" ng-controller="menuController" ng-class="{'show': showMobileMenu}">
		<li class="left desktop-only"><a ng-click="home()">Marvelize</a></li>
		<li><a ng-click="navigate('series')">Series</a></li>
		<li><a ng-click="navigate('characters')">Characters</a></li>
		<li class="search"><form ng-submit="search()"><input type="search" ng-model="query" placeholder="Search.."></form></li>
	</ul>

	<span class="mobile-only menu-toggle" ng-click="showMobileMenu = !showMobileMenu"><i class="ion-navicon medium" ng-class="{'white': showMobileMenu}"></i> <span ng-show="!showMobileMenu">Marvelize</span></span>

	<div class="view-holder" ng-view ng-init="init()"></div>

	<p class="center copyright">Built by <a href="http://www.twitter.com/oli4jansen">Olivier</a>. All data belongs to <a href="http://www.marvel.com">Marvel</a>.</p>

	<script type="text/javascript" src="libs/angular.min.js"></script>
	<script type="text/javascript" src="libs/angular-route.min.js"></script>
	<script type="text/javascript" src="libs/angular-animate.min.js"></script>

	<script type="text/javascript" src="app.js"></script>

	<script type="text/javascript" src="app/controllers/menuController.js"></script>
	<script type="text/javascript" src="app/controllers/indexController.js"></script>
	<script type="text/javascript" src="app/controllers/searchController.js"></script>
	
	<script type="text/javascript" src="app/controllers/charactersController.js"></script>
	<script type="text/javascript" src="app/controllers/characterController.js"></script>

	<script type="text/javascript" src="app/controllers/seriesController.js"></script>
	<script type="text/javascript" src="app/controllers/seriesSingularController.js"></script>

	<script type="text/javascript" src="app/controllers/comicsController.js"></script>

	<script type="text/javascript" src="app/controllers/eventsController.js"></script>
	<script type="text/javascript" src="app/controllers/eventController.js"></script>

	<script type="text/javascript" src="app/factories/APIDataFactory.js"></script>
	<script type="text/javascript" src="app/factories/APIDataParser.js"></script>
	<script type="text/javascript" src="app/factories/APIErrorHandler.js"></script>

	<script type="text/javascript" src="app/directives/listViewDirective.js"></script>
	<script type="text/javascript" src="app/directives/listItemDirective.js"></script>
</body>
</html>