<div class="image-view cover" style="background-image:url('{{characterImage}}');">
	<h1 class="center">{{characterData.name}}</h1>
</div>

<div class="text-image-view medium" ng-if="characterData.description.length > 0">
	<div class="half"><h1>About {{characterData.name}}</h1><p>"{{characterData.description}}"</p></div><p class="half image">
		<i class="ion-ios7-person-outline huge center"></i>
	</p>
</div>

<div class="text-image-view medium" ng-if="characterData.series.available > 0">
	<p class="half image">
		<i class="ion-ios7-bookmarks-outline huge center"></i>
	</p><div class="half"><h1>Appeared in {{characterData.series.available}} series</h1><p ng-if="characterData.series.items.length > 0">Including <span ng-repeat="series in characterShortSeriesList"><a href="{{series.resourceURI}}">{{series.name}}</a>, </span>and more.<br>
	<a ng-click="navigate('series/with/'+characterData.name+'/'+characterData.id)" class="button next right">All series with {{characterData.name}}</a></p></div>
</div>