<div class="image-view cover" ng-style="{backgroundImage: 'url('+eventImage+')'}">
	<h1 class="center">{{eventData.title}}</h1>
</div>

<div class="text-image-view medium" ng-if="eventData.description.length > 0">
	<div class="half"><p ng-bind-html="eventData.descriptionHTML"></p></div><p class="half image">
		<i class="ion-ios7-bookmarks-outline huge center"></i>
	</p>
</div>

<div class="column-holder">
	<div class="half" ng-if="eventData.series.available > 0">
		<h1>Appeared in {{eventData.characters.available}} series</h1>

		<h4 ng-repeat="series in eventData.series.items|limitTo:4" ng-class="{'border-bottom':!$last}" class="small-list-item">{{series.name}}</h4>
	
		<a ng-click="navigate('series/with/'+eventData.name+'/'+eventData.id)" class="button next">All series in which this event takes place</a>
	</div><div class="half" ng-if="eventData.characters.available > 0">
		<h1>{{eventData.characters.available}} characters</h1>

		<h4 ng-repeat="character in eventData.characters.items|limitTo:4" ng-class="{'border-bottom':!$last}" class="small-list-item">{{character.name}}</h4>
	
		<a ng-click="navigate('characters/in/event/'+eventData.title+'/'+eventData.id)" class="button next">All characters</a>
	</div>
</div>